body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.marker-green {
  text-align: center;
  background-image: url('./circle-32_green.ico');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.marker-yellow {
  text-align: center;
  background-image: url('./circle-32_yellow.ico');
  background-size: cover;
  width: 20px;
  height: 20px;
}

.marker-red {
  text-align: center;
  background-image: url('./circle-32_red.ico');
  background-size: cover;
  width: 20px;
  height: 20px;
}